body {
  background-color: black;
  margin: 0;
}

.homeImages {
  margin: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
}

.profileIndex {
  background-color: black;
  width: 100vw;
}

