html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

#halfLogo {
  width: 50%;
  height: 50%;
  margin: auto;
  position: center;
  display: grid;
}

body {
  color: #100f0f;
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
}

nav {
  background-color:#6a6a68;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  width: 100%;

  
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.navButtons {
  padding: 10px;
  background-color: #6a6a68;
  color: #fff;
  border: none;
  border-color: #6a6a68;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;

}

.navButtons:hover {
  background-color: #fff;
  border: 1px solid black;
  color: #6a6a68;
  ;
  
}

.defaultButton,
.defaultCancelButton {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-weight: bold;
  border-width: 1px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);

  
}

.defaultCancelButton {
  background-color: #fff;
  color: rgb(207, 69, 69); 
}

.defaultButton {
  background-color: #fff;
  color: rgb(49, 182, 115); 
}


.defaultButton:hover {
  background-color: rgb(49, 182, 115);
  border: #fff;
  color:#fff; 
}

.defaultCancelButton:hover {
  background-color: rgb(207, 69, 69);
  border: #fff;
  color:#fff; 
}


