html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  
  color: #100f0f;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color:#6a6a68;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.navButtons {
  padding: 10px;
  background-color: #6a6a68;
  color: #fff;
  border: none;
  border-color: #6a6a68;
  font-weight: bold;
}

.defaultButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: blue;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}

.defaultCancelButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.centered {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}